<div class="notepad-app">
  <div class="app-header">
    Notepad Application
  </div>
  <div class="app-body">
    <form name="notepadForm" ng-controller="">
      <div class="notepad">
        <div class="notepad-title">
          Notepad Title
        </div>
        <div class="notepad-controls">
          <input type="text" name="notepadTitle" ng-model="" placeholder="My notepad title..." ng-maxlength="255" required>
          <div class="notepad-buttons">
            <button class="save-btn">Save</button>
            <button class="delete-btn">Delete</button>
          </div>
        </div>
      </div>
      <div class="new-note">
        <div class="new-note-title">
          My Notes
        </div>
          <div>
            <input type="text" name="noteTitle" ng-model="" placeholder="Enter note title..." ng-maxlength="255" required>
          </div>
          <div>
            <textarea type="text" name="noteBody" ng-model="" placeholder="Enter note..." ng-maxlength="1000" required></textarea>
          </div>
          <div>
            <button class="add-btn">Add</button>
          </div>
        </div>
    </form>
    <div class="note-list">
    </div>
  </div>
</div>
